body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
  font-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "yekan";
  src: url("assets/fonts/Yekan.eot") format("embedded-opentype"),
    url("assets/fonts/Yekan.woff") format("woff"),
    url("assets/fonts/Yekan.ttf") format("truetype"),
    url("assets/fonts/Yekan.svg#Yekan") format("svg");
}
